<?xml version="1.0" encoding="UTF-8"?>
<server description="DX Web Engine server">

    <!-- Enable features -->
    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>adminCenter-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>distributedMap-1.0</feature>
        <feature>portletCache-1.0</feature>
        <feature>jpa-2.2</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>federatedRegistry-1.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>ldapRegistry-3.0</feature>
        <feature>dxExtensions</feature>
        <feature>ejbPersistentTimer-3.2</feature>
        <feature>portletContainer</feature>
        <feature>mpHealth-2.2</feature>
        <feature>mpMetrics-2.3</feature>
	<feature>jaxws-2.2</feature>
	<feature>jwt-1.0</feature>
        <feature>openidConnectClient-1.0</feature>
    </featureManager>

    <!-- ADMIN username & password updated from Environment Variable -->
    <variable name="DX_ADMIN" defaultValue="wpsadmin" />
    <variable name="DX_PASSWORD" defaultValue="{xor}KC8sPjsyNjE=" />

    <!-- Optional: Customize the health check endpoints
    <mpHealth url="/health"/> -->

    <!-- Encoded password can be generated using bin/securityUtility -->
    <keyStore id="defaultKeyStore" location="myKeyStore.p12" password="{xor}JjAqLQ8+LCwoMC07" type="PKCS12"/>

    <basicRegistry id="basic" realm="defaultWIMFileBasedRealm">
        <user name="${DX_ADMIN}" password="${DX_PASSWORD}" id="uid=wpsadmin,o=defaultWIMFileBasedRealm"/>
        <user name="nonadmin" password="nonadminpwd" id="uid=nonadmin,o=defaultWIMFileBasedRealm"/>
        <user name="admin1" password="admin1pwd" id="uid=admin1,o=defaultWIMFileBasedRealm"/>
        <group name="wpsadmins" id="cn=wpsadmins,o=defaultWIMFileBasedRealm">
            <member name="${DX_ADMIN}" />
            <member name="admin1" />
        </group>
        <group name="nonadmins" id="cn=nonadmins,o=defaultWIMFileBasedRealm">
            <member name="nonadmin" />
        </group>
    </basicRegistry>

    <administrator-role>
        <user>wpsadmin</user>
    </administrator-role>

    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <!-- Metrics HTTP Endpoint for Prometheus -->
    <httpEndpoint host="*" httpPort="9091" id="metricsHttpEndpoint"/>

    <!-- Define a specific endpoint for SOAP services -->
    <httpEndpoint host="*" httpPort="10033" id="soapHttpEndpoint"/>

    <!-- Derby shared library -->
    <library id="derbyLib">
        <fileset dir="libraries/dblib" includes="*.jar" />
    </library>

    <!-- wait with startup -->
    <!-- perf optimization skipping meta data -->
    <webContainer deferServletLoad="false" skipMetaInfResourcesProcessing="true"/>

    <applicationMonitor updateTrigger="polled" pollingRate="30s"/>
    <config updateTrigger="polled" monitorInterval="30s"/>

    <!-- Enables monitoring with updates every 30 seconds -->
    <mpMetrics authentication="false"/>

    <!-- Dynacache-->
    <distributedMap id="baseCache" memorySizeInEntries="2000" />
    <distributedMap id="services/cache/iwk/abspath" memorySizeInEntries="5000"></distributedMap>
    <distributedMap id="services/cache/iwk/abspathreverse" memorySizeInEntries="5000"></distributedMap>
    <distributedMap id="services/cache/pzn/applicationObjects" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/pzn/campaigns" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/pzn/general" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/global" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/pzn/jcrNodeTypes" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/libparent" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/menu" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/missed" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/mlconffile" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/mlglobalsettings" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/module" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/nav" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/principalinformation" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/processing" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/projectrenderinfo" memorySizeInEntries="100"></distributedMap>
    <distributedMap id="services/cache/ratecommentcache" memorySizeInEntries="50000"></distributedMap>
    <distributedMap id="services/cache/pzn/resourceCollections" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/pzn/ruleMappings" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/pzn/rules" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/session" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/site" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/strategy" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/summary" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/iwk/textprovider" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="services/cache/pzn/uuidPathConversions" memorySizeInEntries="2000"></distributedMap>
    <distributedMap id="wci/wcmobjectids" memorySizeInEntries="2000"></distributedMap>

    <!-- Allows to delay startup timeout from 30 secs to higher -->
    <applicationManager startTimeout="2m"/>

    <!-- Global shared library -->
    <library id="global">
        <folder dir="resources/dxconfig/" />
        <fileset dir="libraries/dxcoreLib" includes="*.jar" />
        <fileset dir="resources/portlets/wp.proxy.config-ear.ear/wp.proxy.config.war/WEB-INF/lib" includes="wp.proxy.config.jar" />
        <fileset dir="resources/portlets/ilwwcm-localrende.war/WEB-INF/lib" includes="ilwwcm-localrenderingportlet-jsr.jar" />
        <fileset dir="resources/portlets/wp.sp.importexport.war/WEB-INF/lib" includes="*.jar" />
        <fileset dir="resources/portlets/wp.portlet.sitemap.war/WEB-INF/lib" includes="wp.portlet.sitemap.jar" />
        <fileset dir="resources/portlets/wp.portlet.change.war/WEB-INF/lib" includes="wp.portlet.changelayout.jar" />
        <fileset dir="resources/portlets/wp.portlet.vanityurl.war/WEB-INF/lib" includes="wp.portlet.vanityurl.jar" />
        <fileset dir="resources/portlets/wp.portlet.styles-war.war/WEB-INF/lib" includes="wp.portlet.styles.jar" />
        <fileset dir="resources/portlets/wp.portlet.contenttabs.war/WEB-INF/lib" includes="wp.portlet.contenttabs.jar" />
        <fileset dir="resources/portlets/wp.portlet.createcontent.war/WEB-INF/lib" includes="wp.portlet.createcontent.jar" />
        <fileset dir="resources/portlets/wp.portlet.newpage.war/WEB-INF/lib" includes="wp.portlet.newpage.jar" />
        <fileset dir="resources/portlets/wp.portlet.applications.war/WEB-INF/lib" includes="wp.portlet.applications.jar" />
        <fileset dir="resources/portlets/wp.portlet.pageproperties-war.war/WEB-INF/lib" includes="wp.portlet.pageproperties.jar" />
        <folder dir="resources/portlets/wp.portlet.change.war/WEB-INF/classes/" />
        <folder dir="resources/portlets/wp.portlet.vanityurl.war/WEB-INF/classes/" />
        <folder dir="resources/portlets/wp.portlet.styles-war.war/WEB-INF/classes/" />
        <folder dir="resources/portlets/wp.portlet.contenttabs.war/WEB-INF/classes/" />
        <folder dir="resources/portlets/wp.portlet.applications.war/WEB-INF/classes/" />
        <folder dir="resources/portlets/wp.portlet.pageproperties-war.war/WEB-INF/classes/" />
        <folder dir="resources/portlets/wp.portlet.applications.war/WEB-INF/classes/"  />
    </library>

    <!-- Custom Plugins shared library -->
    <library id="customPluginsLib">
        <fileset dir="customPlugins" includes="*.jar" />
    </library>

    <jndiObjectFactory id="ExtensionRegistryFactory" libraryRef="global" className="com.ibm.wps.extensionregistry.ExtensionRegistryFactory"/>

    <jndiReferenceEntry id="com.ibm.wps.extensionregistry.ExtensionRegistryProxy" jndiName="services/extensionregistry/global" factoryRef="ExtensionRegistryFactory">
    </jndiReferenceEntry>

    <jndiEntry jndiName="serverInstallationDirectory" value="${wlp.install.dir}"/>
    <jndiEntry jndiName="serverConfigDirectory" value="${server.config.dir}"/>
    <jndiEntry jndiName="serverName" value="${wlp.server.name}"/>

    <!-- derby db -->
    <dataSource id="DefaultDataSource" jndiName="jdbc/wpdbDS" statementCacheSize="10" isolationLevel="TRANSACTION_READ_COMMITTED">
        <jdbcDriver libraryRef="derbyLib" />
        <properties.derby.embedded connectionAttributes="upgrade=true" createDatabase="false" databaseName="/config/customization/derby/wpsdb" shutdownDatabase="false" />
        <connectionManager agedTimeout="7200" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="100" minPoolSize="1" purgePolicy="EntirePool" reapTime="180" />
    </dataSource>

    <!-- The following enables failover for persistent timers -->
    <persistentExecutor id="defaultEJBPersistentTimerExecutor" missedTaskThreshold="10m" taskStoreRef="EJBTimerDatabaseStore"/>
    <databaseStore dataSourceRef="DefaultDataSource" id="EJBTimerDatabaseStore" schema="RELEASE"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- main ear file -->
    <enterpriseApplication id="engine-ear" location="/config/resources/engine-ear.ear" name="engine-ear">
        <application-bnd>
           <security-role name="All webdav role">
                <user name="${DX_ADMIN}"/>
                <group name="wpsadmins"/>
        	</security-role>
           <security-role name="All xmlaccess role">
                <user name="${DX_ADMIN}"/>
                <group name="wpsadmins"/>
        	</security-role>
           <security-role name="All Role">
              <special-subject type="ALL_AUTHENTICATED_USERS"/>
        	</security-role>
           <security-role name="AllAuthenticatedUsers">
              <special-subject type="ALL_AUTHENTICATED_USERS"/>
        	</security-role>
            <security-role name="DxFileTransferUser">
                <user name="${DX_ADMIN}"/>
                <group name="wpsadmins"/>
            </security-role>
      </application-bnd>
      <web-bnd moduleName="wp.content.repository.web.war">
		  <resource-ref name="jdbc/JCRDSRC" binding-name="jdbc/wpdbDS" />
      </web-bnd>
     </enterpriseApplication>

   <!-- OOB theme ear files -->
    <enterpriseApplication id="DefaultTheme85.ear" location="${server.config.dir}/resources/themes/DefaultTheme85.ear" name="DefaultTheme85.ear">
    </enterpriseApplication>
    <enterpriseApplication id="WoodburnStudio.ear" location="${server.config.dir}/resources/themes/WoodburnStudio.ear" name="WoodburnStudio.ear">
    </enterpriseApplication>
    <enterpriseApplication id="SimpleTheme.ear" location="${server.config.dir}/resources/themes/SimpleTheme.ear" name="SimpleTheme.ear">
    </enterpriseApplication>
    <enterpriseApplication id="ThemeDevSite.ear" location="${server.config.dir}/resources/themes/ThemeDevSite.ear" name="ThemeDevSite.ear">
    </enterpriseApplication>
    <enterpriseApplication id="MACMTheme.ear" location="${server.config.dir}/resources/themes/MACMTheme.ear" name="MACMTheme.ear">
    </enterpriseApplication>
    <enterpriseApplication id="wp.theme.toolbar.xslt.ear" location="${server.config.dir}/resources/themes/wp.theme.toolbar.xslt-ear.ear" name="wp.theme.toolbar.xslt.ear">
    </enterpriseApplication>
    <enterpriseApplication id="ThemeModules.ear" location="${server.config.dir}/resources/themes/ThemeModules.ear" name="ThemeModules.ear">
    </enterpriseApplication>
    <enterpriseApplication id="ToolbarTheme85.ear" location="${server.config.dir}/resources/themes/toolbar85-ear.ear" name="ToolbarTheme85.ear">
    </enterpriseApplication>
    <enterpriseApplication id="ThemeDevAssets.ear" location="${server.config.dir}/resources/themes/ThemeDevAssets.ear" name="ThemeDevAssets.ear">
    </enterpriseApplication>
    <enterpriseApplication id="dojo.ear" location="${server.config.dir}/resources/themes/wp.theme.dojo.ear" name="dojo.ear">
    </enterpriseApplication>
    <enterpriseApplication id="liveobjects.ear" location="${server.config.dir}/resources/themes/liveobjects.ear" name="liveobjects.ear">
    </enterpriseApplication>
    <enterpriseApplication id="MashupCommonComponent.ear" location="${server.config.dir}/resources/themes/MashupCommonComponent.ear" name="MashupCommonComponent.ear">
    </enterpriseApplication>
    <enterpriseApplication id="MashupCommonComponent24.ear" location="${server.config.dir}/resources/themes/MashupCommonComponent24.ear" name="MashupCommonComponent24.ear">
    </enterpriseApplication>
    <enterpriseApplication id="wp.theme.jquery.ear" location="${server.config.dir}/resources/themes/wp.theme.jquery.ear" name="wp.theme.jquery.ear">
    </enterpriseApplication>
    <enterpriseApplication id="ToolbarModules.ear" location="${server.config.dir}/resources/themes/ToolbarModules.ear" name="ToolbarModules.ear">
    </enterpriseApplication>
    <enterpriseApplication id="wp.theme.codemirror.ear" location="${server.config.dir}/resources/themes/wp.theme.codemirror.ear" name="wp.theme.codemirror.ear">
    </enterpriseApplication>
    <!-- Practitioner Studio theme -->
    <enterpriseApplication id="PractitionerStudio.ear" location="${server.config.dir}/resources/themes/PractitionerStudio.ear" name="PractitionerStudio.ear" startAfterRef="engine-ear">
    </enterpriseApplication>

    <!-- OOB portlet ear and war files -->
    <!-- API explorer -->
    <enterpriseApplication id="wp.api.explorer.ear" location="${server.config.dir}/resources/portlets/wp.api.explorer.ear" name="wp.api.explorer.ear">
    </enterpriseApplication>
    <!-- UM explorer -->
    <enterpriseApplication id="wp.user.restservice.ear" location="${server.config.dir}/resources/portlets/wp.user.restservice-ear.ear" name="wp.user.restservice.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Personalization Lists -->
    <webApplication id="pznruleportlet.war" location="${server.config.dir}/resources/portlets/pznruleportlet-war.war" contextRoot="/wps/pznlist">
        <application-bnd>
            <security-role name="All authenticated users">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
        <classloader delegation="parentLast" commonLibraryRef="global"/>
    </webApplication>
    <!-- PZN Utilities -->
    <!-- No longer needed as we do not support likeminds any more
    <enterpriseApplication id="PZN_Utilities.ear" location="${server.config.dir}/resources/portlets/PZN_Utilities.ear" name="PZN_Utilities.ear" startAfterRef="engine-ear">
          <web-bnd moduleName="pznutilities.war">
		  <resource-ref name="jdbc/lmdbDS" binding-name="jdbc/wpdbDS" />
      </web-bnd>
    </enterpriseApplication> -->
    <!-- PZN Publish -->
    <enterpriseApplication id="pznpublish.ear" location="${server.config.dir}/resources/portlets/pznpublish-ear.ear" name="pznpublish.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- PZN Authoring -->
    <webApplication id="pznauthorportlet.war" location="${server.config.dir}/resources/portlets/pznauthorportlet.war" contextRoot="/wps/pznauthor">
        <application-bnd>
            <security-role name="All authenticated users">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
            <resource-ref name="jdbc/lmdbDS" binding-name="jdbc/wpdbDS" />
        </application-bnd>
        <classloader delegation="parentLast" commonLibraryRef="global"/>
    </webApplication>

    <!-- WCM -->
    <enterpriseApplication id="wcm.ear" location="${server.config.dir}/resources/portlets/wcm.ear" name="wcm.ear" startAfterRef="engine-ear">
        <application-bnd>
            <security-role name="All Role">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
        <web-bnd moduleName="ilwwcm.war">
            <resource-ref name="jdbc/JCRDSRC" binding-name="jdbc/wpdbDS" />
            <resource-ref name="jdbc/JCRDSRU" binding-name="jdbc/wpdbDS" />
            <resource-ref name="jdbc/JCRDS" binding-name="jdbc/wpdbDS" />
        </web-bnd>
    </enterpriseApplication>

    <enterpriseApplication id="wp.wcmextension.ear" location="${server.config.dir}/resources/portlets/wp.wcmextension.ear" name="wp.wcmextension.ear" startAfterRef="engine-ear">
    </enterpriseApplication>

    <!-- PZN Transformation -->
    <webApplication id="pzntrans.war" location="${server.config.dir}/resources/portlets/pzntrans.war" contextRoot="/wps/PA_PTransformationApp">
    </webApplication>
    <!-- Blurb -->
    <webApplication id="Blurb.war" location="${server.config.dir}/resources/portlets/Blurb.war" contextRoot="/wps/PA_Blurb">
    </webApplication>
    <!-- Welcome Portlet -->
    <webApplication id="WelcomePortlet.war" location="${server.config.dir}/resources/portlets/WelcomePortlet.war" contextRoot="/wps/PA_WPS_Welcome" startAfterRef="engine-ear">
    </webApplication>
    <!-- WCM Administration -->
    <webApplication id="iwwcm-administration-portlet.war" location="${server.config.dir}/resources/portlets/iwwcm-administration-portlet.war" contextRoot="/wps/PA_WCM_Admin">
    </webApplication>
    <!-- WCM Authoring -->
    <webApplication id="ilwwcm-authoring-portlet.war" location="${server.config.dir}/resources/portlets/ilwwcm-authoring-portlet.war" contextRoot="/wps/PA_WCM_Authoring_UI">
        <application-bnd>
            <security-role name="All Role">
            <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </webApplication>
    <!-- Unique Names -->
    <webApplication id="UniqueNames.war" location="${server.config.dir}/resources/portlets/UniqueNames.war" contextRoot="/wps/PA_UniqueNames">
    </webApplication>
    <!-- Manage Pages -->
    <webApplication id="Managepages.war" location="${server.config.dir}/resources/portlets/Managepages.war" contextRoot="/wps/PA_MPagesandFavorites">
    </webApplication>
    <!-- Page Properties -->
    <webApplication id="Properties.war" location="${server.config.dir}/resources/portlets/Properties.war" contextRoot="/wps/PA_Properties">
    </webApplication>
    <!-- Themes and Skins -->
    <webApplication id="ThemesAndSkinsManager.war" location="${server.config.dir}/resources/portlets/ThemesAndSkinsManager.war" contextRoot="/wps/PA_ThemesAndSkinsMgr">
    </webApplication>
    <!-- Settings -->
    <webApplication id="Settings.war" location="${server.config.dir}/resources/portlets/Settings.war" contextRoot="/wps/PA_Settings">
    </webApplication>
    <!-- Appearance -->
    <webApplication id="appearance.war" location="${server.config.dir}/resources/portlets/appearance.war" contextRoot="/wps/PA_appearance">
    </webApplication>
    <!-- Content Layout -->
    <webApplication id="contentlayout.war" location="${server.config.dir}/resources/portlets/contentlayout.war" contextRoot="/wps/PA_Eecontentandlayout">
    </webApplication>
    <!-- Import XML -->
    <webApplication id="ImportXML.war" location="${server.config.dir}/resources/portlets/ImportXML.war" contextRoot="/wps/PA_Import_XML">
    </webApplication>
    <!-- Spell Checker -->
    <!-- WCM Social -->
    <!-- do not deploy by default
    <enterpriseApplication id="wcm-social.ear" location="${server.config.dir}/resources/portlets/wcm-social.ear" name="wcm-social.ear" startAfterRef="engine-ear">
    </enterpriseApplication> -->
    <!-- Set Permissions -->
    <webApplication id="SetPermissionsPortlets.war" location="${server.config.dir}/resources/portlets/SetPermissionsPortlets.war" contextRoot="/wps/PA_Set_Permissions">
    </webApplication>
    <!-- Portlet Wiring AP -->
    <webApplication id="portletWiring.war" location="${server.config.dir}/resources/portlets/portletWiring.war" contextRoot="/wps/PA_portletWiring" startAfterRef="engine-ear">
    </webApplication>
    <!-- Resource View -->
    <webApplication id="ResourceView.war" location="${server.config.dir}/resources/portlets/ResourceView.war" contextRoot="/wps/PA_ResourceView">
    </webApplication>
    <!-- Markups Manager -->
    <webApplication id="MarkupsManager.war" location="${server.config.dir}/resources/portlets/MarkupsManager.war" contextRoot="/wps/PA_Markups_Manager">
    </webApplication>
    <!-- Clients Manager -->
    <webApplication id="ClientsManager.war" location="${server.config.dir}/resources/portlets/ClientsManager.war" contextRoot="/wps/PA_Clients_Manager">
    </webApplication>
    <!-- Virtual Portal  -->
    <webApplication id="ManageVirtualPortals.war" location="${server.config.dir}/resources/portlets/ManageVirtualPortals.war" contextRoot="/wps/PA_MageVirtualPortals">
    </webApplication>
    <!-- Manage Webservices  -->
    <webApplication id="ManageWebservices.war" location="${server.config.dir}/resources/portlets/ManageWebservices.war" contextRoot="/wps/PA_Manage_Webservices">
    </webApplication>
    <!-- Banner Ad -->
    <webApplication id="bannerad.war" location="${server.config.dir}/resources/portlets/bannerad.war" contextRoot="/wps/PA_Banner_Ad">
    </webApplication>
    <!-- Portlet Manager -->
    <webApplication id="PortletManager.war" location="${server.config.dir}/resources/portlets/PortletManager.war" contextRoot="/wps/PA_Portlet_Manager">
    </webApplication>
    <!-- Principals Manager -->
    <webApplication id="ManagePrincipals.war" location="${server.config.dir}/resources/portlets/ManagePrincipals.war" contextRoot="/wps/PA_Principals_Manager">
    </webApplication>
    <!-- User profile management -->
    <webApplication id="selfcare.war" location="${server.config.dir}/resources/portlets/selfcare.war" contextRoot="/wps/PA_Selfcare_Port_App">
    </webApplication>
    <!-- WebScanner-->
    <webApplication id="SearchAdmin.war" location="${server.config.dir}/resources/portlets/SearchAdmin.war" contextRoot="/wps/PA_WebScanner">
        <application-bnd>
            <security-role name="Crawler">
                <group name="wpsadmins"/>
            </security-role>
        </application-bnd>
    </webApplication>
    <!-- FrequentUsers -->
    <webApplication id="FrequentUsers.war" location="${server.config.dir}/resources/portlets/FrequentUsers.war" contextRoot="/wps/PA_FrequentUsers">
    </webApplication>
    <!-- GroupsViewer -->
    <webApplication id="lwp.groupsViewer.war" location="${server.config.dir}/resources/portlets/lwp.groupsViewer-war.war" contextRoot="/wps/PA_Groups_Viewer_App">
        <classloader delegation="parentLast" commonLibraryRef="global"/>
    </webApplication>
    <!-- Tracing  -->
    <webApplication id="Tracing.war" location="${server.config.dir}/resources/portlets/Tracing.war" contextRoot="/wps/PA_Tracing">
    </webApplication>
    <!-- People Picker  -->
    <webApplication id="lwp.peoplePicker.war" location="${server.config.dir}/resources/portlets/lwp.peoplePicker.war" contextRoot="/wps/PA_People_Picker_App">
    </webApplication>
    <webApplication id="ilwwcm-localrenderingportlet-jsr.war" location="${server.config.dir}/resources/portlets/ilwwcm-localrende.war" contextRoot="/wps/PA_WCMLRingPortJSR286">
    </webApplication>
    <enterpriseApplication id="WCM_Multilingual.ear" location="${server.config.dir}/resources/portlets/wcm-multilingual-ear.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Proxy Config -->
    <enterpriseApplication id="wp.proxy.config.ear" location="${server.config.dir}/resources/portlets/wp.proxy.config-ear.ear" name="wp.proxy.config.ear">
    </enterpriseApplication>
    <!-- Portlets pulled in from artifactory -->
    <!-- People Finder -->
    <webApplication id="lwp.peoplefinder.jsr168-war.war" location="${server.config.dir}/resources/portlets/lwp.peoplefinder.jsr168-war.war" contextRoot="/wps/PA_People_Finder">
        <classloader delegation="parentLast" commonLibraryRef="global"/>
	</webApplication>
    <!-- Theme Optimizer -->
    <webApplication id="wp.portlet.themeo" location="${server.config.dir}/resources/portlets/wp.portlet.themeo.war" contextRoot="/wps/PA_Pmizationframework">
	</webApplication>
    <!-- Credential Admin -->
    <webApplication id="CredentialAdministration.war" location="${server.config.dir}/resources/portlets/CredentialAdministration.war" contextRoot="/wps/PA_Credential_Admin">
    </webApplication>
    <!-- Blurb2 -->
    <webApplication id="Blurb2.war" location="${server.config.dir}/resources/portlets/Blurb2.war" contextRoot="/wps/PA_Blurb_1">
    </webApplication>
    <!-- Multi-locale Library Copy Application -->
    <webApplication id="wcm-ml-librarycopy-portlet.war" location="${server.config.dir}/resources/portlets/wcm-ml-librarycopy-portlet.war" contextRoot="/wps/PA_WCMMLLibraryCopy">
    </webApplication>
    <!-- Virtual Web Application Manager-->
    <webApplication id="VirtualWebApplicationManager" location="${server.config.dir}/resources/portlets/VirtualWebApplicationManager.war" contextRoot="/wps/PA_wp.vwat.manager">
    </webApplication>
    <!-- Search Sitemap Portlet -->
    <webApplication id="sitemap.war" location="${server.config.dir}/resources/portlets/sitemap.war" contextRoot="/wps/PA_SearchSitemapPort" startAfterRef="engine-ear">
    </webApplication>
    <!-- Credential Vault Dialog Portlet -->
    <webApplication id="credvaultfiller-war.war" location="${server.config.dir}/resources/portlets/credvaultfiller-war.war" contextRoot="/wps/PA_CredVaultDialog">
    </webApplication>
    <!-- ReactIntegration -->
    <webApplication id="react-integration-portlet.war" location="${server.config.dir}/resources/portlets/react-integration-portlet.war" contextRoot="/wps/PA_ReactIntegration">
    </webApplication>
    <!-- Tag Cloud Portlet -->
    <webApplication id="wp.portlet.tagcloud.war" location="${server.config.dir}/resources/portlets/wp.portlet.tagcloud.war" contextRoot="/wps/PA_Tag_Cloud">
    </webApplication>
    <!-- Friendly Name Disambiguation -->
    <webApplication id="wp.resolver.friendly.disambiguation.war" location="${server.config.dir}/resources/portlets/wp.resolver.friendly.disambiguation.war" contextRoot="/wps/PA_FS_Disambiguation">
    </webApplication>
    <!-- login -->
    <webApplication id="login.war" location="${server.config.dir}/resources/portlets/login.war" contextRoot="/wps/PA_Login_Portlet_App">
    </webApplication>
    <!-- WCM Support Tools -->
    <webApplication id="WCMSupportTools.war" location="${server.config.dir}/resources/portlets/WCMSupportTools.war" contextRoot="/wps/PA_WCMSupportTools">
    </webApplication>
    <!-- Impersonation -->
    <webApplication id="impersonation.war" location="${server.config.dir}/resources/portlets/impersonation.war" contextRoot="/wps/PA_Impersonation">
    </webApplication>
    <!-- Sitemap -->
    <webApplication id="wp.portlet.sitemap.war" location="${server.config.dir}/resources/portlets/wp.portlet.sitemap.war" contextRoot="/wps/PA_Toolbar_SiteMap">
    </webApplication>
    <!-- Create Content -->
    <webApplication id="wp.portlet.createcontent.war" location="${server.config.dir}/resources/portlets/wp.portlet.createcontent.war" contextRoot="/wps/PA_Create_Content">
    </webApplication>
    <!-- Edit Theme Properties -->
    <webApplication id="wp.portlet.themep.war" location="${server.config.dir}/resources/portlets/wp.portlet.themep.war" contextRoot="/wps/PA_EitThemeProperties">
    </webApplication>
    <!-- Theme Creator -->
    <webApplication id="wp.portlet.themec.war" location="${server.config.dir}/resources/portlets/wp.portlet.themec.war" contextRoot="/wps/PA_Theme_Creator">
    </webApplication>
    <!-- Theme Manager -->
    <webApplication id="wp.portlet.themem.war" location="${server.config.dir}/resources/portlets/wp.portlet.themem.war" contextRoot="/wps/PA_Theme_Manager">
    </webApplication>
    <!-- Theme Editor -->
    <webApplication id="wp.portlet.themee.war" location="${server.config.dir}/resources/portlets/wp.portlet.themee.war" contextRoot="/wps/PA_Theme_Editor">
    </webApplication>
    <!-- Federated Documents Picker Portlet -->
    <webApplication id="wp.federated.documents.war" location="${server.config.dir}/resources/portlets/wp.federated.documents.war" contextRoot="/wps/PA_FedDocumentsPicker">
    </webApplication>
    <!-- Feed Service Admin -->
    <webApplication id="FeedServiceAdmin.war" location="${server.config.dir}/resources/portlets/FeedServiceAdmin.war" contextRoot="/wps/PA_Feed_Service_Admin">
    </webApplication>
    <!-- WebDockPortlet -->
    <webApplication id="WebDockPortlet.war" location="${server.config.dir}/resources/portlets/WebDockPortlet.war" contextRoot="/wps/PA_WebDockPortServlet">
    </webApplication>
    <!-- New Page -->
    <webApplication id="wp.portlet.newpage.war" location="${server.config.dir}/resources/portlets/wp.portlet.newpage.war" contextRoot="/wps/PA_New_Page">
    </webApplication>
    <!-- Vwat Servlet -->
    <enterpriseApplication id="wp.vwat.servlet.ear" location="${server.config.dir}/resources/portlets/VwatReverseProxyServlet.ear" name="wp.vwat.servlet.ear" startAfterRef="engine-ear">
    <web-ext moduleName="wp.vwat.servlet.war" context-root="/wps/vwat"></web-ext>
    <application-bnd>
        <security-role name="All Role">
            <special-subject type="ALL_AUTHENTICATED_USERS"/>
        </security-role>
    </application-bnd>
    </enterpriseApplication>
    <!-- Script Application Editor -->
    <webApplication id="wp.sp.editor.war" location="${server.config.dir}/resources/portlets/wp.sp.editor.war" contextRoot="/wps/wp.scriptportlet.editor">
    </webApplication>
    <!-- Vanity URL -->
    <webApplication id="wp.portlet.vanityurl.war" location="${server.config.dir}/resources/portlets/wp.portlet.vanityurl.war" contextRoot="/wps/PA_VanityUrl">
    </webApplication>
    <!-- Styles -->
    <webApplication id="wp.portlet.styles-war.war" location="${server.config.dir}/resources/portlets/wp.portlet.styles-war.war" contextRoot="/wps/PA_Styles">
    </webApplication>
    <!-- Page Properties -->
    <webApplication id="wp.portlet.pageproperties-war.war" location="${server.config.dir}/resources/portlets/wp.portlet.pageproperties-war.war" contextRoot="/wps/PA_Pingpageproperties">
    </webApplication>
    <!-- Analytics Tags and Site Promotions -->
    <webApplication id="wp.asa.portlet-war.war" location="${server.config.dir}/resources/portlets/wp.asa.portlet-war.war" contextRoot="/wps/PA_AtiveSiteAnalytics">
    </webApplication>
    <!-- Sametime Web 2.0 Contact List -->
    <webApplication id="ContactList.war" location="${server.config.dir}/resources/portlets/ContactList.war" contextRoot="/wps/PA_ContactList">
    </webApplication>
    <!-- Content Reporting -->
    <enterpriseApplication id="content-reporting.ear" location="${server.config.dir}/resources/themes/content-reporting.ear" name="content-reporting.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Presentation Designer -->
    <enterpriseApplication id="presentation-designer.ear" location="${server.config.dir}/resources/portlets/presentation-designer.ear" name="presentation-designer.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Content Tabs: Page Components, Page Settings and Project Tab -->
    <webApplication id="wp.portlet.contenttabs.war" location="${server.config.dir}/resources/portlets/wp.portlet.contenttabs.war" contextRoot="/wps/PA_Toolbar_Content">
    </webApplication>
    <!-- Change Layout -->
    <webApplication id="wp.portlet.change.war" location="${server.config.dir}/resources/portlets/wp.portlet.change.war" contextRoot="/wps/PA_Orphaned">
    </webApplication>
    <!-- Mobile Preview -->
    <enterpriseApplication id="wp.theme.mobile.preview.ear" location="${server.config.dir}/resources/portlets/wp.theme.mobile.preview.ear" name="wp.theme.mobile.preview.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Applications -->
    <webApplication id="wp.portlet.applications.war" location="${server.config.dir}/resources/portlets/wp.portlet.applications.war" contextRoot="/wps/PA_Applications">
    </webApplication>
    <!-- UX Screen Flow Manager - Dialog Stack -->
    <webApplication id="wp.pcm.portlet.dialogstack.war" location="${server.config.dir}/resources/portlets/wp.pcm.portlet.dialogstack.war" contextRoot="/wps/PA_Dialog_Stack">
    </webApplication>
    <!-- UX Screen Flow Manager - Dialog State Display -->
    <webApplication id="wp.pcm.ui.dstate.war" location="${server.config.dir}/resources/portlets/wp.pcm.ui.dstate.war" contextRoot="/wps/PA_Dialog_State">
    </webApplication>
    <!-- PZN UI Actions : Content Targeting Dialog -->
    <webApplication id="wp.pzn.ui.actions.war" location="${server.config.dir}/resources/portlets/wp.pzn.ui.actions.war" contextRoot="/wps/PA_wp.pzn.ui.actions">
    </webApplication>
    <!-- importexport -->
    <webApplication id="wp.sp.importexport.war" location="${server.config.dir}/resources/portlets/wp.sp.importexport.war" contextRoot="/wps/wp.scriptportlet.importexport">
    </webApplication>
    <!-- Content Mapping Picker -->
    <webApplication id="wp.contentmapping.war" location="${server.config.dir}/resources/portlets/wp.contentmapping.war" contextRoot="/wps/PA_CM_Picker">
    </webApplication>
    <!-- Static Page Aggregation: Navigation, Search, Breadcrumb Trail and Resource Addressability -->
    <webApplication id="wp.spa.portlets.war" location="${server.config.dir}/resources/portlets/wp.spa.portlets.war" contextRoot="/wps/PA_spa">
    </webApplication>
    <!-- TinyMCE -->
    <enterpriseApplication id="tinymce.ear" location="${server.config.dir}/resources/portlets/tinymce.ear" name="tinymce.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- TinyMCE Services -->
    <enterpriseApplication id="tinymce-services.ear" location="${server.config.dir}/resources/portlets/tinymce-services.ear" name="tinymce-services.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- DAM: Digital Asset Management -->
    <enterpriseApplication id="dam.medialibraryplugin.ear" location="${server.config.dir}/resources/themes/dam.medialibraryplugin-ear.ear" name="dam.medialibraryplugin.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Seedlist -->
    <enterpriseApplication id="wp.search.seedlist.ear" location="${server.config.dir}/resources/themes/wp.search.seedlist.ear" name="wp.search.seedlist.ear" startAfterRef="engine-ear">
        <application-bnd>
            <security-role name="CrawlerUser">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </enterpriseApplication>
    <!-- Worklight Ext -->
    <enterpriseApplication id="wp.theme.worklight.ext.ear" location="${server.config.dir}/resources/themes/wp.theme.worklight.ext.ear" name="wp.theme.worklight.ext.ear" startAfterRef="engine-ear">
    </enterpriseApplication>
    <!-- Portlet Wiring Toolbar -->
    <webApplication id="wp.portlet.wiring.war" location="${server.config.dir}/resources/portlets/wp.portlet.wiring.war" contextRoot="/wps/PA_Wiring">
    </webApplication>
    <!-- Site Builder -->
    <webApplication id="site-builder.war" location="${server.config.dir}/resources/portlets/site-builder.war" contextRoot="/wps/PA_Site_Builder" startAfterRef="engine-ear">
    </webApplication>
    <!-- Search V2 Portlet -->
    <webApplication id="search-v2-portlet.war" location="${server.config.dir}/resources/portlets/search-v2-portlet.war" contextRoot="/wps/PA_SearchV2">
    </webApplication>
    <!-- Page Picker Portlet -->
    <webApplication id="wp.portlet.pagepi.war" location="${server.config.dir}/resources/portlets/wp.portlet.pagepi.war" contextRoot="/wps/PA_Page_Picker">
    </webApplication>

    <!-- Executor replacing some workmanagers-->
    <managedExecutorService jndiName="concurrent/execSvc">
        <concurrencyPolicy max="10" maxQueueSize="30" runIfQueueFull="false" maxWaitForEnqueue="0"/>
    </managedExecutorService>

    <managedExecutorService jndiName="wps/SiteBuilderWorkManager">
        <contextService>
            <classloaderContext/>
            <jeeMetadataContext/>
            <securityContext/>				
        </contextService>
        <concurrencyPolicy max="3" maxQueueSize="10" runIfQueueFull="false" maxWaitForEnqueue="0"/>
    </managedExecutorService>

    <!-- JAAS -->
    <jaasLoginModule id="dxJAAS"
                 className="com.ibm.wps.auth.nonce.NonceLoginModule"
                 controlFlag="REQUIRED" libraryRef="global">
    </jaasLoginModule>
    <jaasLoginContextEntry id="Portal_LTPA" name="Portal_LTPA"
                 loginModuleRef="hashtable, userNameAndPassword, certificate, token, dxJAAS"  />

    <!-- TAI -->
    <trustAssociation id="dxTrustAssociation" invokeForUnprotectedURI="false"
                    failOverToAppAuthType="false">
        <interceptors id="HTTPBasicAuthTAI" enabled="true"
                    className="com.ibm.portal.auth.tai.HTTPBasicAuthTAI"
                    invokeBeforeSSO="false" invokeAfterSSO="true" libraryRef="global">
            <properties enabled="true" authenticationRealm="WPS" useRegExp="false" loginTarget="Portal_LTPA" userAgentBlackList="AllAgentsAllowed" userAgentWhiteList="NoAgentSpecified" urlBlackList="/wps/myportal*" urlWhiteList="/wps/mycontenthandler*"/>

        </interceptors>
    </trustAssociation>

    <!-- hardening -->
    <webAppSecurity httpOnlyCookies="true" trackLoggedOutSSOCookies="false"/>
    <httpDispatcher enableWelcomePage="false"/>
    <httpOptions removeServerHeader="true"/>
    <httpSession cookieHttpOnly="true" invalidateOnUnauthorizedSessionRequestException="true"/>

    <!-- Override the com.ibm.ws.logging.message.file.name property -->
    <variable name="com.ibm.ws.logging.message.file.name" value="SystemOut.log"/>

    <!-- default Logging -->
    <logging traceSpecification="*=info:com.ibm.wps.logging.ExceptionLogger=all" traceFileName="trace.log" maxFileSize="200" maxFiles="10" traceFormat="BASIC" messageFileName="SystemOut.log" consoleLogLevel="info" consoleSource="message"/>
    
    <!-- transaction service -->
    <transaction totalTranLifetimeTimeout="300s" propogatedOrBMTTranLifetimeTimeout="300s" heuristicRetryWait="0" acceptHeuristicHazard="false" recoverOnStartup="true" waitForRecovery="false" transactionLogDirectory="${server.config.dir}/customization/tranlog/" />

    <!-- improve startup time-->
    <cdi12 enableImplicitBeanArchives="false"/>

    <!-- JSR 286 Portlet Container -->
	<portletContainer cachingEnabled="true" trimPortletXMLContent="true" mainWebApplicationContextPath="/wps" disabledGlobalPortletFilters=""/>

    <!-- DX Extensions feature -->
    <dxExtensions mainWebApplicationContextPath="/wps"/>

  <!-- This file will only be included during the setup in a container to prevent multiple uncontrolled restarts and reloads when the xml and properties change -->
  <include location="init-config.xml" optional="true" onConflict="REPLACE"/>

  <!-- increase authentication cache size and timeout for better performance-->
  <authCache initialSize="100" maxSize="50000" timeout="60m"/>

<ltpa keysFileName="/opt/openliberty/wlp/usr/servers/defaultServer/resources/security/ltpa.keys" keysPassword="{xor}MiYPPiwsKDAtOw==" />
</server>
